@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/montserrat"; /* English Font */
@import "@fontsource/tajawal"; /* Arabic Font */

@layer base {
  :root {
    --font-sans: "Tajawal", sans-serif;
    --primary: 240 100% 20%; /* #0C005B */
    --primary-light: 240 100% 50%; /* #030081 */
    --secondary: 45 100% 47%; /* #F1B900 */
    --secondary-light: 45 100% 60%; /* #FFD301 */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-sans); /* Default: Arabic (Tajawal) */
  }

  /* English font */
  .font-english {
    font-family: "Montserrat", sans-serif;
  }
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
}
